body {
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
	background-color: darkseagreen;
	height: 25vmax;
	color: black;
}

.btn {
	border: 1px solid black;
}

h2 {
	font-size: 50px;
}